@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --header-height: 50px;
    --sidebar-bg-color: #182537;
}

@layer components {
    .label {
        @apply text-base font-medium !text-gray-500
    }

    .label-link {
        @apply text-base text-blue-500 hover:cursor-pointer hover:underline
    }

    .container {
        @apply bg-white p-4 rounded-md
    }

    .container-no-padding {
        @apply bg-white rounded-sm
    }

}

@layer utilities {
    .col-1 {
        @apply w-1/12
    }

    .col-2 {
        @apply w-1/6
    }

    .col-3 {
        @apply w-1/4
    }

    .col-4 {
        @apply w-1/3
    }

    .col-5 {
        @apply w-5/12
    }

    .col-6 {
        @apply w-1/2
    }

    .col-7 {
        @apply w-7/12
    }

    .col-8 {
        @apply w-2/3
    }

    .col-9 {
        @apply w-3/4
    }

    .col-10 {
        @apply w-4/5
    }

    .col-11 {
        @apply w-11/12
    }

    .col-12 {
        @apply w-full
    }

    .flex-center {
        @apply flex items-center justify-center
    }
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 4px;
    height: 8px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}




.ck-content {
    /* width: 100%; */
    /* border-radius: 0 0 5px 5px; */
    /* max-width: 100%; */
    min-height: 200px;
    max-height: 500px;
    overflow-y: auto;
}

.ck-editor__editable_inline {
    padding: 0 30px !important;
}